@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}
a {
    text-decoration: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

section{
    padding: 100px;
}

.donate-banner{
    position: relative;
    min-height: 100vh;
    background: url("images/indian-orphanage-children-5772.jpg");
    background-size: cover ;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.donate-banner h2{
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.donate-banner h2 span{
    font: 1.5em;
    font-weight: 800;
}

.donate-banner h3{
    font-size: 1.5em ;
    color: #fff;
    font-weight: 500;
}

.btn{
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    margin-top: 20px;
    background: #363636;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: rgb(113, 113, 223);
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 150px;
    height: 150px;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.about{
    min-height: 100vh;
}
.content{
    display: flex;
    justify-content: space-between;
}
.content-box h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.con1 img{
    width: 100%;
}